<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034452658509-6cnvbvvgk0iupojnq27qik2j3qb7kags.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034452658509-6cnvbvvgk0iupojnq27qik2j3qb7kags</string>
	<key>API_KEY</key>
	<string>AIzaSyBfLEOE7XXN_GBC1T8M8KvfucuJfvkRhOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1034452658509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanerzurumlu.burcOgren</string>
	<key>PROJECT_ID</key>
	<string>dailyhoroscope-29411</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyhoroscope-29411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034452658509:ios:2c941bfbe29c2ea6732f04</string>
</dict>
</plist>